/u4/j2eedemo/jpabasic/nbproject/private/
/u4/j2eedemo/jpabasic/build/
/u4/j2eedemo/JpaBasic/nbproject/private/
/u4/j2eedemo/JpaBasic/build/
/u4/j2eedemo/JpaBasic/dist/
/u4/j2eedemo/jpabasic/dist/
/u4/j2eedemo/jpabasic02/nbproject/private/
/u4/j2eedemo/JpaNamedQuery/nbproject/private/
/u4/j2eedemo/jpaCRUD/nbproject/private/
/u4/j2eedemo/jpaCRUD/dist/
/u4/j2eedemo/jpaCRUD/build/