<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<head>
    <meta charset="UTF-8">
    <title>Create Contacts</title>
</head>
<body>
<div layout:fragment="customContent">
    <form action="#" th:action="@{/create}" th:object="${myContacts}" method="POST">
        <input type="hidden" th:field="*{cId}">
        <div th:if="${#fields.hasAnyErrors()}">
            <ul>
                <li th:each="errMsg : ${#fields.allErrors()}" th:text="${errMsg}" th:class="text-danger" />
            </ul>
        </div>        
        <div class="form-group">
            <label for="cName">Name</label>
            <input type="text" class="form-control" id="cName" placeholder="Contact Name" th:field="*{cName}">
            <span th:if="${#fields.hasErrors('cName')}" th:errors="*{cName}" th:errorclass="text-danger">Contact Name Error</span>
        </div>
        <div class="form-group">
            <label for="phone">Phone</label>
            <input type="text" class="form-control" id="phone" placeholder="Phone" th:field="*{phone}">
            <span th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}" th:errorclass="text-danger">Phone Error</span>
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="text" class="form-control" id="email" placeholder="Email" th:field="*{email}">
            <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" th:errorclass="text-danger">Email Error</span>
        </div>
        <div class="form-group">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="gender" id="genderMale" th:field="*{gender}" value="M" checked>
                <label class="form-check-label" for="genderMale">Male</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="gender" id="genderFemale" th:field="*{gender}" value="F">
                <label class="form-check-label" for="genderFemale">Female</label>
            </div>
        </div>
        <div class="form-group">
            <label for="dob">Date of birth</label>
            <input type="text" class="form-control" id="dob" placeholder="YYYY-MM-DD" th:field="*{dob}">
            <span th:if="${#fields.hasErrors('dob')}" th:errors="*{dob}" th:errorclass="text-danger">Date of birth Error</span>
        </div>
        <button type="submit" class="btn btn-primary" th:text="${myContacts.cId == null ? 'Create' : 'Update'}"></button> &nbsp;&nbsp;&nbsp;
        <a href="#" th:href="@{/index}" class="btn btn-warning">Back</a>
    </form>
</body>
</html>