<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <form action="#" th:action="@{/create}" th:object="${newContacts}" method="POST">
            Name: <input type="text"  id="name" th:field="*{name}">
            <p th:errors="*{name}"/>
            Phone: <input type="text" id="phone" th:field="*{phone}">
            Email: <input type="text" id="email" th:field="*{email}">

            <button type="submit" class="btn btn-primary">Create</button> &nbsp;&nbsp;&nbsp;
            <a href="#" th:href="@{/index}" class="btn btn-warning">Back</a>
        </form>
    </body>
</html>